title
{
    font-size: x-large;
}

body 
{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html
{
    scroll-behavior: smooth;
}

.menu ul {
    display: flex;
    justify-content: flex-start; /* Changed from 'center' to 'flex-start' */
    align-items: center;
    gap: 50px;
    padding: 0 40px; /* Added left padding to avoid sticking to the edge */
    margin: 0;
    position: relative;
    top: 2px;
    color: white;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    color: white;
    text-decoration: none; 
    font-size: large;
    font-weight: bold;
    position: relative;
    padding: 5px;
}

.menu h1
{
    color: white;
}


.logo
{
    margin-right: auto;
}

.hero {
    background: #ffffff;
    padding-top: 110px;   /* increase this number to move text lower */
    padding-bottom: 60px;
    text-align: center;

}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
}

